<section>
  <div class="container-fluid">  
    <div class="row-fluid">
      <div class="span12">
        <ul>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_01.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_02.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_03.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_04.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_05.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_06.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_07.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_08.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_09.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_10.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_11.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_12.jpg")%>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span12">
        <ul>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_13.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_14.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_15.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_16.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_17.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_18.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_19.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_20.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_21.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_22.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_23.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_24.jpg")%>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span12">
        <ul>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_25.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_26.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_27.jpg")%>
            </a>
          </li>
          <li class="span00">
            <a href="/static_pages/blah>" class="thumbnail">
              <%= image_tag("wrk_thmb_28.jpg")%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>          
</section>