<p id="notice"><%= notice %></p>

<p><%= @profile.bio %></p>
<p><%= @profile.statement %></p>
<p><%= @profile.email %></p>
<p><%= @profile.tel %></p>
	
<%= image_tag @profile.profile_pic.medium.url %>	

<%= link_to 'Edit', edit_profile_path(@profile) %>