<p id="notice"><%= notice %></p>

  <h1><%= @exhibition.title %></h1>

<% if exhibition.images %>
	<ul class="bxslider">
	   <% @exhibition.images.each do |i| %>
	   <li><%= image_tag(i.image.url) %></li>
	  <% end %>
	</ul>
<% end %>

  <p> <%= @exhibition.description %> </p>
  <p> <%= @exhibition.location %> | <%= @exhibition.date %> </p>

  <%= link_to 'Edit', edit_exhibition_path(@exhibition) %>
   |
  <%= link_to 'Back', exhibitions_path %>


<%= javascript_include_tag "jquery.bxslider.min.js" %>
<script type="text/javascript"></script>
