<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exhibition.title %>
</p>

<p>
  <b>Date:</b>
  <%= @exhibition.date %>
</p>

<p>
  <b>Location:</b>
  <%= @exhibition.location %>
</p>

<p>
  <b>Description:</b>
  <%= @exhibition.description %>
</p>

<% @exhibition.images.each do |i| %>
	<%= image_tag(i.image.url) %>
	
<% end %>


<%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Back', exhibitions_path %>
