<h1>Listing photographs</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Medium</th>
    <th>Url</th>
    <th>Size</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photographs.each do |photograph| %>
  <tr>
    <td><%= photograph.date %></td>
    <td><%= photograph.location %></td>
    <td><%= photograph.description %></td>
    <td><%= photograph.medium %></td>
    <td><%= photograph.url %></td>
    <td><%= photograph.size %></td>
    <td><%= photograph.title %></td>
    <td><%= link_to 'Show', photograph %></td>
    <td><%= link_to 'Edit', edit_photograph_path(photograph) %></td>
    <td><%= link_to 'Destroy', photograph, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photograph', new_photograph_path %>
