<!DOCTYPE html>
<html class="<%= @home_page ? 'homepage' : ''%>">
	<head>
	  <title>Julian Chams</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body class="main">
		<header class="navbar navbar-inverse navbar-fixed-top">
		  <nav class="navbar-inner">
		   <div class="container">
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		     <span class="icon-bar"></span>
		     <span class="icon-bar"></span>
		     <span class="icon-bar"></span>
		    </a>
		    <%= link_to "JULIAN CHAMS", "/static_pages/home", {:class=>"brand pull-left"} %>
			    <div class="nav-collapse collapse">
			     <ul class="nav">
			      <li><%= link_to "Work", "/static_pages/work" %></li>
			      <li><%= link_to "Exhibitions", "/static_pages/exhibitions" %></li>
			      <li><%= link_to "About", "/static_pages/about" %></li>
			      <!-- under construction <li><%= link_to "Texts", "/static_pages/texts" %></li> -->
			      <li><%= link_to "Blog", "/static_pages/blog" %></li>
			      <li><%= link_to "Links", "/static_pages/links" %></li>
			     </ul>
			    </div>
		   </div>
		  </nav>
		</header>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
		<footer>
		</footer>
	</body>
</html>
